# Simple workflow for deploying static content to GitHub Pages
name: Deploy static content to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: 
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Go 1.25
        uses: actions/setup-go@v5
        with:
            go-version: 1.25.x
      - name: Install Ubuntu upackages
        if: ${{ runner.os == 'Linux'}}
        run: |
            sudo apt-get install -y krb5-user libkrb5-dev pkg-config
    
      - name: Generate test includes
        run: |
          echo pkgs=$(go list ./... | egrep -v '/examples/|/build-tools/') >> "$GITHUB_ENV"
      - name: Generate coverage profile
        run: |
          go test $pkgs -count 100 -coverprofile=cover.out -covermode=atomic
          pushd http/test
          go test -coverpkg ../ -coverprofile=cover.out -covermode=atomic
          popd
          go run github.com/wadey/gocovmerge@latest ./cover.out ./http/test/cover.out > cover-all.out

      - name: Generate report
        run: |
            mkdir -p ./coverage
            go tool cover -html=cover-all.out -o coverage/coverage.html
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./coverage
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
